<html lang="en"><head>
    <meta charset="UTF-8">
    <title>Add Student</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"> 
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <label style="color: #fff; font-size: 22px;">Add Student</label>
          <a class="nav-item nav-link" href="javascript:history.go(-1)">Go Back</a>
          <a class="nav-item nav-link" id="logout" href="/">Logout</a>
        </div>
      </div>
    </nav>
    <div class="add-student-page"><br><br>
      <div class="form">
        <form class="add-student-form">
            <input type="text" placeholder="Name" id="name">
            <input type="text" placeholder="ID" id="id">
          <input type="number" placeholder="Age" id="age">
          <input type="number" placeholder="CGPA" id="cgpa">
          <input type="number" placeholder="Level" id="level">
          <input type="text" placeholder="Department" id="department">
          <button onclick="sendRequest()">Add Student</button>
        </form>
      </div>
    </div>
    <div id="response"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
      function sendRequest() {
          const currentDomain = window.location.hostname;
          const currentPort = window.location.port;
          const name = document.getElementById('name').value;
          const age = document.getElementById('age').value;
          const id = document.getElementById('id').value;
          const level = document.getElementById('level').value;
          const department = document.getElementById('department').value;
          const cgpa = document.getElementById('cgpa').value;
          const newLink = `http://${currentDomain}:${currentPort}/add/${name}/${id}/${age}/${level}/${department}/${cgpa}#`;
          const replacedString = newLink.replace(" ", '%20').replace(" ", '%20').replace(" ", '%20').replace(" ", '%20').replace(" ", '%20').replace(".","%2E");
          console.log(replacedString);
          fetch(replacedString)
            .then(response => {
                // Check if the response is successful
                if (!response.ok) {
                throw new Error('Network response was not ok');
                }              
            });
            alert("Student added successfully!");
        }
    </script>
  
  
  
  </body></html>