<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <link rel="stylesheet" href="/static/css/home.css">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <a class="nav-item nav-link" id="logout" href="/">Logout</a>
      </div>
    </div>
  </nav>
  <div class="home-page">
    <div class="form">
        <label style="font-size: 30px;">Student Data</label> <br><br><br>
      <table class="table_container">
        <tr>
          <th>Student</th>
          <th>ID</th>
          <th>Age</th>
          <th>CGPA</th>
          <th>Level</th>
          <th>Department</th>
        </tr>
        STUDENTDATAGOESHERE

        <!-- Add more rows as needed -->
      </table>
    </div>
  </div>
</body>
</html>
