<!DOCTYPE html>
<html lang="en" id="response">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css"> 

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <label style="color: #fff; font-size: 22px;">Student Database</label>
      </div>
    </div>
  </nav>
<div class="login-page">
  <div class="form">
    <form class="login-form">
      <input type="text" placeholder="Username" id="username"/>
      <input type="password" placeholder="Password" id="password"/>
      <button onclick="sendPostRequest()">login</button>
    </form>
  </div>
</div>
<div id="response"></div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script>
    async function sendPostRequest() {
        const currentDomain = window.location.hostname;
        const currentPort = window.location.port;
        const username = document.getElementById('username').value;
        const inputElement = document.getElementById('password');
        const inputValue = inputElement.value;

        const encoder = new TextEncoder();
        const passd = encoder.encode(inputValue);

        const hashBuffer = await crypto.subtle.digest('SHA-256', passd);
        const hashArray = Array.from(new Uint8Array(hashBuffer));
        const password = hashArray.map(byte => byte.toString(16).padStart(2, '0')).join('');

        console.log(password);

        const data = {
            username: username,
            password: password
        };

            window.location.href = `http://${currentDomain}:${currentPort}/login/${username}/${password}`;
            
    }
</script>
</body>
</html>
