<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Profile</title>
    <link rel="stylesheet" href="/static/css/stu.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbar">
          <div class="navbar-nav">
            <a class="nav-item nav-link" id="logout" href="/">Logout</a>
          </div>
        </div>
      </nav>
    <div class="container">
        <div class="profile">
            <div class="profile-header">
                <h1>Student Profile</h1>
            </div>
            <div class="profile-info">
                <div class="profile-details">
                    STUDENTDATAGOESHERE
                </div>
            </div>
        </div>
    </div>
</body>
</html>
